{% extends "base.html.twig" %}

{% block title %}{{ parent() }} by Starshop.{% endblock %}

{% block body %}

<h1 class="text-4xl">Starshop: your monopoly-busting options for Starship parts!</h1>

<div>Browse through {{ ships|length }} starships!

    <div>
        <h2>Say-Something-Syntax:</h2>
        <ul>
            <li> rendre la valeur d'une variable : {{ ships|length }} </li>
            <li> un calcul sur sa valeur, ici *10 : {{ ships|length * 10 }} </li>
            <li> son nom en string : {{ 'ships' }} </li>
        </ul>
    </div>
    <div>
        <h2>Do-Something-Syntax: </h2>
        {% if ships|length > 400 %}
            <p>That's a shipload of starships! (if more than 400)</p>
        {% endif %}
        {# Ceci est un commentaire, et en-dessous un test #}
        {% if ships is defined %}
            <p>Tu as défini ta variable, c'est bien.</p>
        {% endif %}
    </div>

    <div>
        <h2>My Ship</h2>
        <table>
            <tr>
                <th>Name</th>
                <td>
                    <a href="{{ path('app_starship_show', { id: myShip.id }) }}">
                        {{ myShip.name }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{ myShip.class }} </td>
            </tr>
            <tr>
                <th>Captain</th>
                <td>{{ myShip.captain }} </td>
            <tr>
                <th>Status</th>
                <td>{{ myShip.status }} </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
